@font-face {
    font-family: 'Space Mono';
    src: url('../font/Space_Mono/SpaceMono-Regular.ttf');
}

body, html{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

*{
    font-family: "Space Mono";
}

pre {
    border-radius: 3px;
}